{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/extensions": 0,
    "semi": [2, "never"]
  }
}
