{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "semi": [2, "never"],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "semi-style": ["error", "first"]
  }
}
