body, div, header, section, footer, h1, h2, h3, p, ul, li {
	margin: 0;
	padding: 0;
}
ul, li { list-style: none; }
a, a:hover { text-decoration: none; }
html, body {
    background: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: 100%;
}
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    background: #333946;
    color: #e35e6c;
}
#canvas {
    opacity: 0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#loading {
    background: rgba(0,0,0,.1);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
