@font-face {
    font-family: 'fortysecondstreethbregular';
    src: url('FORTSSH_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: #182327;
}
#canvas {
    height: 100%;
}
canvas {
    display: block;
}
svg {
    display: block;
    width: 100%;
    height: 100%;
}
.text {
    font-family: 'fortysecondstreethbregular';
    font-size: 100px;
    text-transform: uppercase;
}
