@font-face {
    font-family: 'Sansation_Light';
    src: url('Sansation_Light.ttf') format('truetype');
}
html, body {
    height: 100%;
}
body {
    margin: 0;
    background: #fff;
    word-break: break-all;
    overflow-x: hidden;
    text-align: center;
}
body:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.center {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: #717171;
    font-size: 16px;
    display: inline-block;
    margin: 14px 10px;
}
a:hover {
    text-decoration: underline;
}

h1 {
    font-weight: normal;
    font-size: 20px;
    color: #424242;
    font-family: serif;
    margin: 40px 0 0;
}

.font {
    font-family: 'Sansation_Light', serif!important;
}

#dinosaur {
    display: inline-block;
    overflow: hidden;
    position: relative;
}
#dinosaur:after {
    content: '';
    border: 3px solid transparent;
    border-top-color: #7d7d7d;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -13px;
    margin-top: -13px;
    -webkit-animation:loading 1s linear forwards infinite;
    -moz-animation:loading 1s linear forwards infinite;
}
#dinosaur.loaded:after {
    display: none;
}
@-webkit-keyframes loading {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes loading {
    100% {
        -moz-transform: rotate(360deg);
    }
}
#dinosaur > div {
    float: left;
}
#dinosaur .cover {
    -moz-transition: -moz-transform .3s;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}
#dinosaur .cover div {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-image: url(cover.jpg);
}
#dinosaur .cover div:before {
    content: '';
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid rgba(255, 255, 255, .1);
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#dinosaur .cover.active {
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 16px;
    }
    a {
        font-size: 14px;
    }
}
