@font-face {
    font-family: 'fortysecondstreethbregular';
    src: url('FORTSSH_-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
}
html {
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: url(1.jpg) no-repeat;
    background-size: cover;
}
#w {
    height: 100%;
    opacity: .5;
    background: -moz-linear-gradient(45deg, #ce4cd4 0%, #0a94d5 100%);
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#ce4cd4), color-stop(100%,#0a94d5));
    background: -webkit-linear-gradient(45deg, #ce4cd4 0%,#0a94d5 100%);
    background: linear-gradient(45deg, #ce4cd4 0%,#0a94d5 100%);
}
#canvas {
    height: 100%;
}
canvas {
    display: block;
}
svg {
    display: block;
    width: 100%;
    height: 100%;
}
.text {
    font-family: 'fortysecondstreethbregular';
    font-size: 200px;
}
#ret {
}
