@charset "utf-8";

/* reset */
body, div, h1, h2, h3, p, blockquote, ul, li {
	margin: 0;
	padding: 0;
    font-weight: normal;
}
ul { list-style: none; }
a, a:hover { text-decoration: none; }
img, button, input { border: 0; }
button:focus, input:focus, textarea:focus { outline: none; }
header, footer, section, nav, figure, mark {
	display: block;
	margin: 0;
	padding: 0;
}
html, body {
    background: #fff;
    height: 100%;
    font-size: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
    -webkit-font-smoothing: antialiased;
}

/* class */
.left { float: left; }
.right { float: right; }
.center {
    margin-left: auto;
    margin-right: auto;
}

.db { display: block; }
.dib { display: inline-block; }
.hide { display: none; }

.abs { position: absolute; }
.rel { position: relative; }

.tac { text-align: center; }
.nowrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.oh { overflow: hidden; }

.w { width: 100%; }
