<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="google" content="notranslate" />
    <title>Lorem Ipsum 2014</title>
    <meta name="keywords" content="design, code, works, lorem ipsum, portfolio" />
    <meta name="description" content="The portfolio of LoeiFy, designer and coder" />
    <meta name="author" content="LoeiFy">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/image/ico/144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/image/ico/114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/image/ico/72.png">
    <link rel="apple-touch-icon-precomposed" href="/static/image/ico/57.png">
    <link rel="shortcut icon" href="/static/image/ico/57.png">

    <!-- build:css /assets/module/css/base.css -->
    <!-- /build -->

    <!-- build:css /assets/module/css/global.css -->
    <!-- /build -->

    <!-- build:css /assets/index.css -->
    <!-- /build -->

    <!-- build:js /static/jquery/jquery.js -->
    <!-- /build -->

    <!-- build:js /dist/plugin.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/define.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/setSize.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/loadImage.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/touchDevice.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/pageControl.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/pageInfo.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/sectionMove.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/tapPlot.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/sliderControl.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/sliderMove.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/sliderInfo.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/fullImage.js -->
    <!-- /build -->

    <!-- build:js /assets/index.js -->
    <!-- /build -->

    <!-- build:remove -->
    <style>@@style</style>
    <script src="/static/basket/basket.js?000"></script>
    <script>basket.require({url:'/dist/global.css',key:'css',unique:@@css,execute:false}).then(function(responses){_stylesheet.appendStyleSheet(responses[0],function(){basket.require({url:'/static/jquery/jquery.js',key:'jquery',unique:@@jquery}).then(function(){basket.require({url:'/dist/plugin.js',key:'plugin',unique:@@plugin}).then(function(){basket.require({url:'/dist/global.js',key:'js',unique:@@js})})})})})</script>
    <!-- /build -->

</head>
<body class="oh bgf">

    <section id="home" class="rel">
        <div class="bb w h rel">
            <div class="logo abs">
                <svg version="1.1" baseProfile="full"xmlns="http://www.w3.org/2000/svg"xmlns:xlink="http://www.w3.org/1999/xlink"xmlns:ev="http://www.w3.org/2001/xml-events"height="62px"width="422px"> 
                    <path id="i0" stroke="#c1c1c1" fill="none" stroke-width="3" d="M17.173,0.71600000000001 C12.229,0.71600000000001 6.077,1.96100000000001 6.077,10.238 C6.077,14.486 6.626,19.466 6.626,24.007 C6.626,26.278 6.37,29.354 0.47399999999999,29.867 C0.47399999999999,29.867 0.47399999999999,32.503 0.47399999999999,32.503 C6.297,32.87 6.626,36.019 6.626,38.29 C6.626,42.757 6.077,47.591 6.077,52.206 C6.077,60.482 12.229,61.581 17.173,61.581"></path>
                    <path id="i1" stroke="#c1c1c1" fill="none" stroke-width="3" d="M404.405,61.581 C409.532,61.581 415.574,60.335 415.574,52.315 C415.574,47.665 415.135,42.831 415.135,38.802 C415.135,36.019 415.281,32.87 421.36,32.503 C421.36,32.503 421.36,29.867 421.36,29.867 C415.281,29.427 415.135,26.278 415.135,23.495 C415.135,19.54 415.574,14.706 415.574,9.98099999999999 C415.574,1.815 409.605,0.71600000000001 404.405,0.71600000000001"></path>
                </svg>
            </div>
            <p class="abs tac nowrap">&copy; 2014 lorem.in <span> | swipe, tap, scroll or keyboard to navigator</span></p>
        </div>
    </section>

    <section id="portfolio" class="rel">
        <div class="bb w h rel">
            <div id="slider" class="w h oh rel">
            </div>
        </div>
    </section>

    <section id="about" class="rel bgf">
        <div class="bb rel oh w h">
            <div id="blurimg" class="oh bb abs">
                <canvas class="rel" id="blur"></canvas>
                <div class="w h abs"></div>
            </div>
            <div class="text abs">
                <h3>FRONT-END <span>DEV</span> & UI/UX <span>DESIGN</span></h3>
                <p>LoeiFy [at] gmail.com</p>
            </div>
        </div>
    </section>

    <div id="pot"></div>
</body>
</html>
