<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="google" content="notranslate" />
    <title>Lorem Ipsum 2014</title>
    <meta name="keywords" content="design, code, works, lorem ipsum, portfolio" />
    <meta name="description" content="The portfolio of Loeify, designer and coder" />
    <meta name="author" content="Loeify">

    <!-- build:css /assets/module/css/base.css -->
    <!-- /build -->

    <!-- build:css /assets/module/css/global.css -->
    <!-- /build -->

    <!-- build:css /assets/index.css -->
    <!-- /build -->

    <!-- build:js /static/jquery/jquery.js -->
    <!-- /build -->

    <!-- build:js /dist/plugin.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/base.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/doAction.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/getPorperty.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/pushUrl.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/sectionMove.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/tapPlot.js -->
    <!-- /build -->

    <!-- build:js /assets/index.js -->
    <!-- /build -->

    <!-- build:remove -->
    <style>@@style</style>
    <script src="/static/basket/basket.js?000"></script>
    <script>basket.require({url:'dist/global.css',key:'css',unique:@@css,execute:false}).then(function(responses){_stylesheet.appendStyleSheet(responses[0],function(){basket.require({url:'/static/jquery/jquery.js',key:'jquery',unique:@@jquery}).then(function(){basket.require({url:'/dist/plugin.js',key:'plugin',unique:@@plugin}).then(function(){basket.require({url:'/dist/global.js',key:'js',unique:@@js})})})})})</script>
    <!-- /build -->
</head>
<body class="oh bgf">

    <section id="home" class="rel">
        <div class="bb w h rel">
            <div class="logo abs">
                lorem ipsum ... a section of work by Loeify
            </div>
            <p class="abs tac nowrap">&copy; 2014 lorem.in | <span>swipe, tap, scroll or keyboard to navigator</span></p>
        </div>
    </section>

    <section id="guolu" class="rel bgf">
        <div class="bb w h">
        </div>
    </section>

    <section id="jaku" class="rel bgf">
        <div class="bb w h">
            jaku
        </div>
    </section>
	
    <section id="info" class="rel bgf">
        <div class="bb w h">
            info
        </div>
    </section>

    <div id="pot"></div>
</body>
</html>
