<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="google" content="notranslate" />
    <title>Lorem Ipsum 2014</title>
    <meta name="keywords" content="design, code, works, lorem ipsum, portfolio" />
    <meta name="description" content="The portfolio of Loeify, designer and coder" />
    <meta name="author" content="Loeify">

    <!-- build:css /assets/module/css/base.css -->
    <!-- /build -->

    <!-- build:css /assets/module/css/global.css -->
    <!-- /build -->

    <!-- build:css /assets/index.css -->
    <!-- /build -->

    <!-- build:js /static/jquery/jquery.js -->
    <!-- /build -->

    <!-- build:js /static/hammer/hammer.js -->
    <!-- /build -->

    <!-- build:js /static/hammer/jquery.hammer.js -->
    <!-- /build -->

    <!-- build:js /static/easing/jquery.easing.js -->
    <!-- /build -->

    <!-- build:js /static/enhanced/jquery.animate-enhanced.js -->
    <!-- /build -->

    <!-- build:js /assets/module/js/base.js -->
    <!-- /build -->

    <!-- build:js /assets/index.js -->
    <!-- /build -->

    <!-- build:remove -->
    <style>@@style</style>
    <script src="/static/basket/basket.js?000"></script>
    <script>basket.require({url:'dist/global.css',key:'css',unique:@@css,execute:false}).then(function(responses){_stylesheet.appendStyleSheet(responses[0],function(){basket.require({url:'/static/jquery/jquery.js',key:'jquery',unique:@@jquery}).then(function(){basket.require({url:'/dist/plugin.js',key:'plugin',unique:@@plugin}).then(function(){basket.require({url:'/dist/global.js',key:'js',unique:@@js})})})})})</script>
    <!-- /build -->
</head>
<body class="oh">
	<section id="home" class="wrap">
	</section>

	<section id="gallery" class="wrap">
	</section>
	
	<section id="info" class="wrap">
	</section>

    <div id="pot"></div>
</body>
</html>
