.right.loading .detail {
  display: none;
}
.right.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right.loading::after {
  content: '';
  animation: loading 1s linear forwards infinite;
  display: block;
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top-color: #ddd;
  border-right-color: #ddd;
  border-radius: 50%;
}

@keyframes loading { 100% { transform: rotate(360deg) } }
