.main {
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}
.right {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
.top {
  height: 240px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  padding: 40px;
}
.bottom {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 400px;
  flex-shrink: 0;
  border-right: 1px solid #ebebeb;
  background: #fff;
}

#main-content {
  padding: 50px 40px;
}
#main-content .markdown-body {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .left {
    transition: all .3s ease;
    transform: translateX(-100%);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
  }
  .left.active {
    transform: translateX(0);
  }
  .detail {
    padding: 30px;
  }
  #menu {
    display: block;
  }
}
