#menu {
  position: absolute;
  right: 20px;
  top: 24px;
  width: 22px;
  height: 13px;
  border-top: 3px solid #444;
  border-bottom: 3px solid #444;
  display: none;
}
#menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #444;
  top: 5px;
  left: 0;
}
