.top h3 {
  color: #171d38;
  font-size: 16px;
  font-weight: 500;
}
.top p {
  font-size: 13px;
  color: #777;
  margin-top: 7px;
}
.top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: -5px;
}
.top > div {
  height: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
  background: transparent;
}
.top:hover {
  background: rgba(0, 0, 0, .05);
}
