@import "./style/reset.css";
@import "./style/top.css";
@import "./style/portfolios.css";
@import "./style/right.css";
@import "./style/toast.css";
@import "./style/popup.css";
@import "./style/detail.css";
@import "./style/menu.css";

.main {
  height: 100%;
  display: flex;
  align-items: stretch;
  position: relative;
}
.right {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
.top {
  height: 240px;
  box-sizing: border-box;
  border-bottom: 1px solid #ebebeb;
  padding: 40px;
}
.bottom {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 20px 0;
}
.left {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 400px;
  flex-shrink: 0;
  border-right: 1px solid #ebebeb;
  background: #fff;
}

@media screen and (max-width: 600px) {
  .left {
    transition: all .3s ease;
    transform: translateX(-100%);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    height: 100%;
  }
  .left.active {
    transform: translateX(0);
  }
  .detail {
    padding: 30px;
  }
  .detail h2 {
    margin-bottom: 50px;
    margin-top: 80px;
  }
  .detail .info {
    display: block;
    font-size: 14px;
  }
  .detail .info div {
    width: auto;
  }
  .detail .info ul {
    width: auto;
    margin: 0 0 30px 0;
  }
  .detail .url {
    margin: 20px 0;
  }
  .detail img {
    width: 100%!important;
    height: auto!important;
    padding: 3px;
    margin: 15px 0 0 0;
  }
  #menu {
    display: block;
  }
}
